@use '../base/variables';
@use '../abstracts/breakpoints';
.card{
    width: 14rem;
    height: 9rem;
    position: relative;
    color: variables.$color-White;
    font-size: 1em;
    min-width: 300px;

    @include breakpoints.media('>=xlarge'){
        width: 25rem;
        height: 19rem;
        }
    

    &-back{
        position: absolute;
        top: 3rem;
        left: 7%;
        margin-left: 3rem;
        z-index: 1;
        background: url('../../images/bg-card-back.png') no-repeat;
        background-size: contain;

        
        @include breakpoints.media('>=large'){
        top: 45%;
        margin-top: -5.1rem;
        }

    }
    &-front{
        background: url('../../images/bg-card-front.png') no-repeat;
        background-size: contain;
        z-index: 2;
        position: absolute;
        left: 7%;
        top: 8.2rem;
        @include breakpoints.media('>=large'){
        top: 45%;
        }
    }

    &-logo{
        position: absolute;
        top: 0.8rem;
        left: 1.3rem;
        width: 3.4rem;
    }
    &-number{
        font-size: 1.1rem;
        letter-spacing: 1.2px;
        position: absolute;
        top: 5rem;
        left: 1.3rem;
    }
    &-name{
        position: absolute;
        font-size: 0.6rem;
        top: 7rem;
        left: 1.3rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;

    }
    &-date{
        position: absolute;
        top: 7rem;
        right: 3.5rem;
        font-weight: 300;
        font-size: 0.6rem;
        letter-spacing: 1px;
        letter-spacing: 2px;
    }

    &-cvc{
        font-size: 0.8rem;
        position: absolute;
        top: 3.8rem;
        left: 12rem;
        text-shadow: 2px 3px 3px variables.$color-Very-dark-violet;
        letter-spacing: 2px;


        
    }

    @include breakpoints.media('>=xlarge'){
        width: 25rem;
        height: 19rem;

        &-back{
            left: 13rem;
            margin-top: -7.7rem;
        }
        &-front{
            left: 10rem;
        }
        &-logo{
            top: 1.5rem;
            left: 2rem;
            width: 5rem;
        }
        &-number{
            font-size: 1.7rem;
            letter-spacing: 2px;
            top: 6.5rem;
            left: 2rem;

        }
        &-name{
            font-size: 1rem;
            top: 10rem;
            left: 2rem;

        }
        
        &-date{
            font-size: 1rem;
            top: 10rem;
            left: 19rem;

        }
        
        }
}